// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #303481;
$yellow: #FCE38A;
$orange: #FC624D;
$green: #38817A;
$gray: #343434;
$light-gray: #FEF4E8;
$light-red: #AC0C0C;
