<div id="about">
  <div class="about-content">
    <h1>We were buddy <i class="fa fa-thumbs-o-up"></i> Monday, 31 July</h1>
    <ul class="list-inline text-center">
      <% ["roselyne0000", "aallamand"].each do |gh_username| %>
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
        <h3><%= gh_username.capitalize %></h3>
      </li>
      <% end %>
    </ul>
  </div>
</div>
